# <font color ='green'> IPython </font>
## This is a subsection
IPython is a powerful interactive Python interpreter. IPython provides:
- an advanced interactive python shell
- a web-based notebook with the same core features
- Easy to use
- Support for data visualization

In [1]:
2 + 3

5

In [3]:
9 - 6

3

### Print function

In [4]:
'Welcome to DATA3650'

'Welcome to DATA3650'

In [5]:
print('Welcome to DATA3650')

Welcome to DATA3650

In [6]:
print('Welcome \n to \n DATA3650')

Welcome
 to
 DATA3650

### Comments

In [7]:
# This is a single line comment
print('The comment is not a part of the code')

The comment is not a part of the code

In [8]:
# this is one line
# this is another line of comment

In [9]:
'''
this is a comment
this is also a comment in a 
multiple line
'''

'\nthis is a comment\nthis is also a comment in a \nmultiple line\n'

### Variables

In [10]:
# What will be the output?
num1 = 5
num2 = 3
num3 = '5'
num4 = 2.5
num5 = 1.999
result = num1 + num3
result

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
result = num1 + int(num3)
result

10

### Arithmetic Operators

In [14]:
2 + 3

5

In [15]:
9 - 6

3

In [16]:
2 * 3

6

In [17]:
# division
8 / 3

2.6666666666666665

In [18]:
# floor division
8 // 3

2

In [19]:
# Modulus division
8 % 3

2

### Relational and Assignment Operators

In [ ]:
# Relational operators: > < <= >= == !=
# Assignment operator: =

### Strings
- a sequence of characters
- it can be declared using either a single quote or double quote

In [20]:
myString = 'this is a single quote string'
print(myString)

this is a single quote string

In [22]:
myString = "this is a double quote string"
print(myString)

this is a double quote string

### Exercise problems

In [23]:
# (1) Declare two variables: age and name. Print 'Name' is 'age' years old.

In [24]:
# (2) Take the age and name as user input. Print 'Name' is 'age' years old.

In [25]:
# (3) Take three real numbers as input from the user and calculate their average

In [26]:
# (4) A certain number of items need to be packed into boxes. Take the total number of items and the number of items that 
# can fit into each box as input. How many boxes will be needed and how many items will be left?

In [27]:
# (5) Declare two strings variables. Join the two strings and insert a black space between them.

In [28]:
# (6) Declare a string and find its length

In [29]:
# (7) Declare a string and display the first and last characters

In [30]:
# (8) Declare 'DATA3650' as a string and extracts the substring 'TA' from it.

In [31]:
# (9) Declare 'Python Basic' as a string. Convert the string to its upper case.

In [ ]:
# (10) Declare 'Python Basic in DATA3650' as a string. Extracts each words and show the word count.