# <font color='red'> Exercise Problems

In [ ]:
# (1) Create a list of integer numbers from 10 to 25. Display 19,20,21 from the list.

In [ ]:
# (2) Create a list of integer numbers from 10 to 25. Display all even numbers from the list. Use slicing.

In [ ]:
# (3) Extract 4, 5 from the list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# (4) Using the concept of slicing, display [50, 30, 10] from [10, 20, 30, 40, 50].

In [ ]:
# (5) Create the list [1, 4, 9, 16, 25] using list comprehension.

In [ ]:
# (6) Create all the even numbers between 2 to 20 using list comprehension

In [ ]:
# (7) Use list comprehension to trsnform all the words of the following list to their uppercase.

In [ ]:
# (8) Create a dictionary where the values of Name, Age and Program are Alissa, 25 and Data Analytics respectively.

In [ ]:
# (9) Create a dictionary for 4 students (Alissa, Samina, Diana, Maria) as keys and 
# their grades (choose any 4 grades) as values.
# display the grades of Samina and Maria from the dictionary.