# <font color='Purple'> Python Data Structures
    - A model for organizing data to improve the data processing activities.
    - List
    - Tuple
    - Dictionary
    - Set

## Tuple
- a comma seperated collection of data enclosed in a parentheses such as (1, 2)
- What about 1, 2 ?
- Immutable - so insertion and deletion can take place in a tuple

In [1]:
# empty tuple
tup1 = ()

In [2]:
tup1

()

In [3]:
tup2 = tuple()
print(tup2)

()

In [9]:
tup3 = tuple((1,2))
tup3

(1, 2)

In [10]:
type(tup3)

tuple

In [6]:
# tuple from a list
aList = [4,5,6]
tup4 = tuple(aList)
print(tup4)

(4, 5, 6)

In [11]:
tup5 = 1, 2
print(tup5)

(1, 2)

In [12]:
tup = ('Canada', 'USA')
tup

('Canada', 'USA')

In [15]:
# accessing element
tup[1] = 'United States'

TypeError: 'tuple' object does not support item assignment

In [16]:
listOfCountries = list(tup)
listOfCountries

['Canada', 'USA']

In [17]:
listOfCountries[1] = 'United States'
listOfCountries

['Canada', 'United States']

In [18]:
# convert the list back to the tuple
tup = tuple(listOfCountries)
tup

('Canada', 'United States')

In [21]:
# negative indexing to access a tuple element
tup[-2]

'Canada'

In [ ]:
# the concept of slicing in tuple is the same as of string and list

In [22]:
# we are defining a function what will calculate and return the area and the circumference of a circle
def circleProperties():
    radius = 2.5
    PI = 3.1415
    area = PI * radius**2
    circumference = 2 * PI * radius
    return area, circumference # this statement is similar to this one: return 1, 2

In [56]:
x = circleProperties() # is this valid or not? The answer is YES.

In [57]:
x

(19.634375000000002, 15.707500000000001)

In [28]:
type(x)

tuple

In [58]:
x[0]

19.634375000000002

In [23]:
x, y = circleProperties()

In [24]:
x

19.634375000000002

In [25]:
y

15.707500000000001

## List
- a comma seperated collection of data enclosed in a square bracket such as [1, 2]
- mutable

In [31]:
aList = []
bList = list()

In [32]:
bList

[]

In [33]:
aList

[]

In [34]:
aList = ['Alissa', 12, 'C', 1524]
aList

['Alissa', 12, 'C', 1524]

In [37]:
aList = [[1,2], [-2,-3,-5]]
aList[1][1]

-3

In [38]:
# insert at the end of a list
aList.append(100)
aList

[[1, 2], [-2, -3, -5], 100]

In [39]:
# deletion
aList.pop()

100

In [40]:
aList

[[1, 2], [-2, -3, -5]]

In [41]:
aList.pop(0)

[1, 2]

In [42]:
aList

[[-2, -3, -5]]

In [43]:
sports = ['hockey', 'football', 'cricket', 'baseball']

In [44]:
for item in sports:
    print(item)

hockey
football
cricket
baseball

In [49]:
sports.sort(key=len)

In [50]:
print(sports)

['hockey', 'cricket', 'football', 'baseball']

In [51]:
# searching
sports.index('hockey')

0

### list comprehension
- a compact way to create a list
- create a list by filtering elements

In [53]:
# create a list of squared numbers from 1 to 10 
aList = []
for item in range(1, 11):
    aList.append(item * item)
print(aList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
# using list comprehension
bList = [item*item for item in range(1,11)]
bList

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
even_list = [item for item in bList if item%2 == 0]
even_list

[4, 16, 36, 64, 100]

## Dictionary
- a collection of key-value pairs
- is not ordered
- we can access the values of a dictionary using keys
- dictionary is mutable

In [59]:
aDict = {}
bDict = dict()
print(aDict)

{}

In [60]:
bDict

{}

In [61]:
aDict = {'Alberta': 'Edmonton', 'Ontario': 'Toronto'}
aDict

{'Alberta': 'Edmonton', 'Ontario': 'Toronto'}

In [63]:
aDict['Alberta']

'Edmonton'

In [65]:
# for loop for traversing a dictionary
for key, value in aDict.items():
    print(key, end = ': ')
    print(value)

Alberta: Edmonton
Ontario: Toronto

## Set
- a sequence of <b> unique </b> elements
- elements are not ordered

In [66]:
aSet = set()
aSet

set()