## <font color='maroon'> Exercise

In [ ]:
# load Titanic dataset

In [ ]:
# Number of missing values in the Cabin column?

In [ ]:
# How many non emply values in 'Cabin' column?

In [ ]:
# Identify the duplicate ticktets. How many duplicates?

In [ ]:
# Identify the top 10 duplicatd tickets

In [ ]:
# Number of missing values in the Age column?

In [ ]:
# Show the records for which 'Age' is missing

In [ ]:
# replace all null values of Age by median

In [ ]:
# Transform 1, 2 and 3 to First Class, Business Class and Economic Class respectively as the passenger class

In [ ]:
# Change the column name 'Sex' to 'Gender'

In [ ]:
# Transform the male and female as Male and Female in Gender column